
header {
  /*backgroud-image: url("headerImg.jpg");*/
  background-color: #61102f;
   /*#fad2e1*/
}
/*add button css*/
button {
    font-weight: 600;
    padding: 2rem;
    line-height: 1.5;
    color: #fff;
    background-color: #61102f;
    border: 3px solid #00729a;
}

